{% extends 'my_template.html.twig' %}

{% block title %}Skeleton2 - {{ articles.getThetitle }}{% endblock %}
{% block menu %}
    {% for item in rubriques %}<li class="nav-item"><a class="nav-link" href="{{ path('detail_rubrique',{'id':item.getIdrubriques}) }}">{{ item.getThertitle }}</a></li>{% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="nav-item"> <a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a></li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item"> <a class="nav-link" href="{{ path('articles_index')}}">Admin</a></li>
    {% endif %}
{% else %}
    <li class="nav-item"> <a class="nav-link" href="{{ path('login')}}">Connexion</a></li>
{% endif %}
    {% endblock %}
{% block stitre %}{{ parent() }} - {{ articles.getThetitle }}{% endblock %}
{% block sstitre %}Détail de l'article: {{ articles.getThetitle }}{% endblock %}
{% block contenu %}
        <h2>{{ articles.getThetitle }}</h2>
        <h3>Sections : {% for menu in articles.getRubriquesrubriques %}
{{menu.getThertitle}} | {% endfor %}</h3>
    <p>{{ articles.getThedescription|nl2br }}</p>
<h4>Par {{articles.getUsersusers.getThelogin}} <small>le {{ articles.getThedate|date("d/m/Y à H:i")}}</small></h4>
<a href="{{ path("accueil")}}">Retour à l'accueil</a>
<hr>   
{% endblock %}