{% extends 'my_template.html.twig' %}

{% block title %}Skeleton2 - Accueil {% endblock %}
{% block menu %}
    {% for item in rubriques %}<li class="nav-item"><a class="nav-link" href="idcateg/{{ item.getIdrubriques }}">{{ item.getThertitle }}</a></li>{% endfor %}
            {% endblock %}
{% block stitre %}{{ parent() }} - Accueil{% endblock %}
{% block sstitre %}Liste de nos articles{% endblock %}
{% block contenu %}
    {% for item in articles %}
        <h2>{{ item.getThetitle }}</h2>
        <h3>Sections : {% for menu in item.getRubriquesrubriques %}
{{menu.getThertitle}} | {% endfor %}</h3>
<p></p
        <h4>Par {{item.getUsersusers.getThelogin}} <small>le {{ item.getThedate|date("d/m/Y à H:i")}}</small></h4>
    {% endfor %}    
{% endblock %}