{% extends 'my_template.html.twig' %}

{% block title %}Skeleton2 - Rubrique {{rubriqueactu.getThertitle}} {% endblock %}
{% block menu %}
    {% for item in rubriques %}<li class="nav-item"><a class="nav-link" href="{{ path('detail_rubrique',{'id':item.getIdrubriques}) }}">{{ item.getThertitle }}</a></li>{% endfor %}<li class="nav-item"><a class="nav-link" href="{{ path('login')}}">Connexion</a></li>
            {% endblock %}
{% block stitre %}{{ parent() }} - Rubrique {{rubriqueactu.getThertitle}}{% endblock %}
{% block sstitre %}Liste de nos articles dans {{rubriqueactu.getThertitle}}{% endblock %}
{% block contenu %}
    {% if articles is empty %}
        <p>Pas encore d'articles dans cette section, <a href="{{path("accueil")}}">retournez à l'accueil</a></p>
    {% endif %}
    {% for item in articles %}
        <h2>{{ item.getThetitle }}</h2>
        <h3>Sections : {% for menu in item.getRubriquesrubriques %}
{{menu.getThertitle}} | {% endfor %}</h3>
<p>{{ item.getThedescription|truncate(350, true) }} <a href='{{ path('detail_article', {'id':item.getIdarticles}) }}'>Lire la suite</a></p>
<h4>Par {{item.getUsersusers.getThelogin}} <small>le {{ item.getThedate|date("d/m/Y à H:i")}}</small></h4><hr>
    {% endfor %}    
{% endblock %}